spring:
  application:
    name: configserver
  cloud:
    config:
      server:
        #native:
          #search-locations: classpath:/config/
        git:
         uri: https://github.com/manishsharmaghimire/config.git
         default-label: main
         timeout: 5
         force-pull: true
         clone-on-start: true

server:
  port: 8888

management:
  endpoints:
    web:
      exposure:
        include: "*"
  endpoint:
    health:
      show-details: always
