spring:
  application:
    name: eurekaserver

server:
  port: 9999

eureka:
  client:
    register-with-eureka: false
    fetch-registry: false
    service-url:
      defaultZone: http://${EUREKA_HOSTNAME:localhost}:9999/eureka/

  server:
    enable-self-preservation: true
    wait-time-in-ms-when-sync-empty: 0

  instance:
    hostname: ${EUREKA_HOSTNAME:localhost}   # default to localhost if not set
