spring:
  application:
    name: eurekaserver

server:
  port: 9999
  enable-self-preservation: true

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/  
    register-with-eureka: false
    fetch-registry: false



