spring:
  datasource:
    url: jdbc:mysql://mysql-loan:3306/loan?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=UTC
    username: ${DB_USER:prod_user}
    password: ${DB_PASSWORD:prod_password}
    hikari:
      connection-timeout: 30000
      maximum-pool-size: 20
      minimum-idle: 5
      idle-timeout: 600000
      max-lifetime: 1800000
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: false
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL8Dialect
        format_sql: false



logging:
  level:
    root: WARN
    com.abc.loan: INFO
    org.hibernate.SQL: WARN

management:
  endpoints:
    web:
      exposure:
        include: "*"

